# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
**/.ipynb_checkpoints

# Large data
*.nc
*.zip
*.gz

# OSx junk
*DS_Store*

# Repo specific
1_OSI_SAF_sst_introductory/*.png
2_OSI_SAF_sst_use_case/*.png

# Climatology for anomaly use case
!D181-ESACCI-L4_GHRSST-SSTdepth-Climatology-GLOB_CDR3.0-v02.0-fv01.0.nc